@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
		--box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
		/* --box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1); */

		--font-sans: 'Inter', sans-serif;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--box-shadow: 0px 0px 4px 0px #ffffff9e;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.ab-container {
	padding-left: 15.6rem;
	padding-top: 4.4rem;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: calc(100vh - 4.4rem);
}
.ab-container .page__wrap {
	padding: 1rem;
	min-height: calc(100vh - 7.4rem);
	margin: 1rem;
	margin-top: 2rem;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 15;
	margin-bottom: 0;
	padding: 0;
	transition: box-shadow 0.2s linear;
	margin-left: 16.6rem;
	margin-top: 1rem;
	margin-right: 1rem;
	height: 4.4rem;
	box-shadow: var(--box-shadow);
	border-radius: 1rem;
}

.IconsViewGrid [role='group'] {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	gap: 0.5rem;
}

/* loader animation */
.abx-progress-bar {
	position: fixed;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, #1e75b7, #1142b4);
	top: 0px;
	overflow: hidden;
	left: 0;
}

.abx-progress-fill {
	position: absolute;
	height: 2px;
	width: 30%;
	animation: progress-forward 0.9s infinite;
	background: linear-gradient(to right, #afcbd6, #51c6dd);
	border-radius: 15px;
	z-index: 1111111111;
	animation-delay: 0.3s;
	animation-timing-function: ease-out;
}

.abx-progress-fill2 {
	position: absolute;
	height: 2px;
	width: 110px;
	animation: progress-forward 0.9s infinite;
	background: linear-gradient(to right, #a3a3a3, #c4c4c4);
	border-radius: 15px;
	z-index: 1111111111;
	animation-timing-function: ease-in;
}

@keyframes progress-forward {
	0% {
		left: 0%;
	}

	100% {
		left: 100%;
	}
}
